{#
  {% include '_partials/formfields/textarea' with {field: form.fields.HANDLE} only %}
#}
<div>
  <label class="block mb-2 text-sm font-bold tracking-wider uppercase" for="{{ field.handle }}">{{ field.label }}{{ field.isRequired ? ' *' }}</label>
  <textarea class="w-full p-3 border border-gray-400 focus:ring focus:ring-violet-600 focus:ring-opacity-50" name="{{ field.handle }}" id="{{ field.handle }}" rows="5">{{ field.value }}</textarea>
  {% if field.errors %}
    <ul class="mt-2 text-sm text-red-700 uppercase">
      {% for error in field.errors %}
        <li>{{ error|t }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
